<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bigbucket" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BigBucket" >
        <activity
            android:name=".dairy_list"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".snacks_list"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".beverages_list"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".oilmasala_list"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".foodgrain_list"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".vegetable_list"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".track_order"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".order_details"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".coupons"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".my_notifications"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".combo"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".my_orders"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".cart"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".categories"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".wishlist"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".fruit_List"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".ContinueShopping"
            android:exported="false" />
        <activity
            android:name=".Address"
            android:exported="false"
            android:parentActivityName=".home" />
        <activity
            android:name=".ResetPassword"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".SignUppage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>